


html {
    max-width: 960px;
    margin: 0 auto;
    background-color: #FFE0B2;

}

h1 {
    border: 2px black;
}

ul {
	min-width: 696px;
	list-style: none;
	padding: 20px 50px;
	align: center;
	}
ul li {
		display: inline;
	}